<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fase 2</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='styles-fase2.css')}}">
</head>
<body>
    <h1>Fase 2 - Quiz de Computação</h1>

    <div class="quiz-wrapper">
        <p class="question-description">Preencha as lacunas arrastando a resposta correta.</p>
        <ul class="options">
            <li class="title">Opções</li>
            <li class="option" data-target="algoritmo">Algoritmo</li>
            <li class="option" data-target="complexidade">Complexidade</li>
            <li class="option" data-target="recursao">Recursão</li>
            <li class="option" data-target="variavel">Variável</li>
            <li class="option" data-target="loop">Loop</li>
            <li class="option" data-target="array">Array</li>
        </ul>
        <div class="answers">
            <ol>
                <li>Um <span class="target" data-accept="algoritmo">&nbsp;</span> é uma sequência de instruções para resolver um problema computacional.</li>
                <li>A <span class="target" data-accept="complexidade">&nbsp;</span> de um algoritmo refere-se ao tempo e espaço que ele consome durante a execução.</li>
                <li>Uma <span class="target" data-accept="variavel">&nbsp;</span> é um espaço na memória que armazena um valor em programação.</li>
                <li>Um <span class="target" data-accept="loop">&nbsp;</span> é uma estrutura que permite repetir um bloco de código várias vezes.</li>
                <li>A <span class="target" data-accept="recursao">&nbsp;</span> é uma técnica onde uma função chama a si mesma para resolver um problema.</li>
                <li>Um <span class="target" data-accept="array">&nbsp;</span> é uma estrutura de dados que armazena elementos do mesmo tipo em sequência.</li>
            </ol>
        </div>
        <button type="submit" value="submit">Enviar</button>
        <div class="lightbox-bg"></div>
        <div class="status confirm">
            <p>Todas as respostas estão corretas!</p>
        </div>
        <div class="status deny">
            <p>Ainda há respostas faltando.</p>
        </div>
    </div>

    <a href="{{ url_for('fases') }}">Voltar</a>

    <script>

    $(document).ready( function() {
      //initialize the quiz options
      var answersLeft = [];
      $('.quiz-wrapper').find('li.option').each( function(i) {
        var $this = $(this);
        var answerValue = $this.data('target');
        var $target = $('.answers .target[data-accept="'+answerValue+'"]');
        var labelText = $this.html();
        $this.draggable( {
          revert: "invalid",
          containment: ".quiz-wrapper"
        });

        if ( $target.length > 0 ) {
        $target.droppable( {
            accept: 'li.option[data-target="'+answerValue+'"]',
            drop: function( event, ui ) {
              $this.draggable('destroy');
              $target.droppable('destroy');
              $this.html('&nbsp;');
              $target.html(labelText);
              answersLeft.splice( answersLeft.indexOf( answerValue ), 1 );
            }
        });
        answersLeft.push(answerValue);
        } else { }
       });
       $('.quiz-wrapper button[type="submit"]').click( function() {
           if ( answersLeft.length > 0 ) {
                $('.lightbox-bg').show();
          $('.status.deny').show();
          $('.lightbox-bg').click( function() {
                  $('.lightbox-bg').hide();
            $('.status.deny').hide();
            $('.lightbox-bg').unbind('click');
          });
           } else {
                $('.lightbox-bg').show();
          $('.status.confirm').show();
           }
       });
    });
    </script>
</body>
</html>