<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprender a Programar</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Vamos aprender<br>a programar?</h1>
        <a href="{{ url_for('fases') }}" class="start-button">
            Iniciar  <span>&#8594;</span>
        </a>
    </div>

    <!-- backgorund -->
    <div class="ball ball1"></div>
    <div class="ball ball2"></div>
    <div class="ball ball3"></div>
    <div class="ball ball4"></div>
    <div class="ball ball5"></div>
    <div class="ball ball6"></div>
    <div class="ball ball7"></div>
    <div class="ball ball8"></div>
    <div class="small-ball small-ball1"></div>
    <div class="small-ball small-ball2"></div>
    <div class="small-ball small-ball3"></div>
    <div class="small-ball small-ball4"></div>
</body>
</html>
